<% layout('/layouts/boilerPlate')%>
    <link rel="stylesheet" href="/stylesheets/edit.css">
    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
            <div class="col-6 offset-3 my-5">
                <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                    <div>
                        <label class="form-label" for="title"><h6>Title</h6></label>
                        <input class="form-control" type="text" id="title" name="campground[title]" value="<%=campground.title%>" required>
                    </div>
                    <div class="mt-2">
                        <label class="form-label" for="location"><h6>Location</h6></label>
                        <input class="form-control" type="text" id="location" name="campground[location]" value="<%=campground.location%>" required>
                    </div>
                    <div class="mt-3">
                        <label for="image" class="form-label"><h6>Add more image(s)</h6></label>
                        <div class="input-group mb-3">
                            <input type="file" class="form-control form-file-input" id="image" name="image" multiple>
                          </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="price"><h6>Campground Price</h6></label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Rupee</span>
                            <input type="text" id="price" class="form-control" placeholder="00/-" name="campground[price]" aria-label="price-label" aria-describedby="price-label" value="<%=campground.price%>" required>
                          </div>
                    </div>
                    <div>
                        <label class="form-label" for="description"><h6>Description</h6></label>
                        <textarea style="height: 80px;" class="form-control" type="text" id="description" name="campground[description]" required> <%= campground.description%> </textarea>
                    </div>


                    <div class="mb-3 mt-4" >
                        <h5>Delete from existing image(s)</h5> 
                        <br>
                        <% campground.images.forEach(function(img, i){ %>
                                <img src="<%= img.url%>" class="card-img-top">
                                <div class="form-check-inline">
                                    <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%= img.filename%>">
                                </div>
                                <label for="image-<%=i%>">Remove</label>
                                <br>
                                <br>
                        <% })%>   
                    </div>


                    <div style="text-align: center;"><button class="btn btn-info my-3">Save Changes</button></div>
                </form>
                <form action="/campgrounds/<%= campground._id%>">
                <div class="d-grid gap-2">
                    <button class="btn btn-primary">Back to Campground</button>
                </div>
                </form>
            </div>
    </div>