<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campgrounds</title>
</head>
<body> -->


    <% layout('/layouts/boilerPlate')%>
    <h1>ALL CAMPGROUNDS</h1>
    <hr>
    <a href="/campgrounds/new">Add a Campground</a>
    <br>

        <% for(let campground of campgrounds) {%>
            <div class="card" mb-3>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" src="<%=campground.image%>" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= campground.title%></h5>
                            <p class="card-text">
                                <small class="text-muted"><%= campground.location%></small>
                            </p>
                            <p class="card-text"><%= campground.description%></p>
                            <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>" >View Campground</a>
                        </div>
                    </div>
                </div>
            </div>
        <% }%>




    <!-- </body>
</html> -->