<% layout('/layouts/boilerPlate')%>

<div class="row">
    <div class="col-6">
        <div class="card mb-5">
            <img src="<%=campground.image%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title" ><%= campground.title%></h4>
              <p class="card-text"><%=campground.description%></p>
            </div>
            <ul class="list-group list-group-flush">
              <i><b><li class="list-group-item"  ><%=campground.location%></li></b></i>
              <b><li class="list-group-item" ><%=campground.price%> per night</li></b>
            </ul>
            <div class="card-body">
              <a style="margin-left: 240px;" href="/campground/<%= campground._id%>/edit" class="card-link btn btn-info">Edit</a>
              <form class="d-inline" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                <button style="margin-left: 10px;" class="btn btn-danger">Delete</button>
            </form>
            </div>
            <div class="card-footer text-muted">
                Posted few days ago
            </div>
          </div>
    </div>
    <div class="col-6">
        <h3>Leave a rating :)</h3>
          <form action="/campgrounds/<%= campground._id%>/reviews" method="POST" class="mb-3 validated-form" novalidate>
          <div class="mb-3">
            <label for="rating" class="form-label">Rating</label>
            <input type="range" min="1" max="5" class="form-range" name="review[rating]" id="rating">
          </div>
          <div class="mb-3">
              <label for="body" class="form-label">Review</label>
              <textarea name="review[body]" class="form-control" id="body" cols="30" rows="3" required></textarea>
              <div class="valid-feedback">
                Looks Gooood
              </div>
          </div>
          <button class="btn btn-success">Submit</button>
        </form>
        <% for(let review of campground.reviews) { %>
            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title" >Rating : <%= review.rating%></h4>
                    <p class="card-text">Review : <%= review.body%></p>
                    <form action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </div>
            </div>
            <% } %>
    </div>
</div>


    <!-- <footer>
        <a href="/campgrounds">All Campgrounds</a>
    </footer> -->
