<% layout('/layouts/boilerPlate')%>
    <h2><%= campground.title%></h2>
    <ul><h3><%= campground.location%></h3></ul>
    <img src="<%=campground.image%>" alt="" height="550px" width="1300px" >
    <br>
    <p><a href="/campground/<%= campground._id%>/edit">Edit</a></p>
    <p>
        <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </p>
    <footer>
        <a href="/campgrounds">All Campgrounds</a>
    </footer>
